* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:not(i) {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: auto;
}
.container {
  background-color: #252525;
  width: 90vmin;
  position: absolute;
  padding: 50px 30px;
  margin: 25px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}
.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search-box input {
  padding: 5px;
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
  background-color: #252525;
  font-size: 16px;
}
.search-box button {
  padding: 10px 0;
  width: 25%;
  background-color: #ffffff;
  border: none;
  outline: none;
  color: #252525;
  border-radius: 5px;
}
.result {
  position: relative;
}
.result h3 {
  font-size: 20px;
  color: #ffffff;
}
.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.result button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 15px;
}
.result .details {
  display: flex;
  gap: 10px;
  color: #b3b6d4;
  margin: 5px 0 20px 0;
  font-size: 14px;
}
.word-meaning {
  color: #ffffff;
}
.word-example {
  color: #ffffff;
  font-style: italic;
  border-left: 5px solid #ffffff;
  padding-left: 10px;
  margin-top: 20px;
}
.error {
  margin-top: 80px;
  text-align: center;
}
